{{ 'section-featured-products.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'featured_products.min.js' | asset_url }}" defer="defer"></script>

<script type="application/json" data-featured-products-settings="{{ section.id }}">
  {
    "products": [
      {%- for product in section.settings.products -%}
        {
          "title": {{ product.title | json }},
          "price": {{ product.price | json }},
          "featured_image": {{ product.featured_image | json }},
          "handle": {{ product.handle | json }},
          "id": {{ product.id | json }},
          "variant": {{ product.selected_or_first_available_variant | json }}
        }
        {%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
</script>

<div class="featured-products">
  <div class="page-width">
    {%- if section.settings.heading != blank -%}
      <h2 class="heading">{{ section.settings.heading | escape }}</h2>
    {%- endif -%}
    <div data-featured-products data-id="{{ section.id }}"></div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.featured-products.settings.heading.label",
      "default": "HAVING FUN 101"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "t:sections.featured-products.settings.products.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-products.name"
    }
  ]
}
{% endschema %}

