{{ 'section-posters.min.css' | asset_url | stylesheet_tag }}

<div class="posters">
  <div class="page-width">
    {%- if section.blocks.size > 0 -%}
      <div class="posters__wrap">
        {%- for block in section.blocks -%}
          <div class="posters__box">
            {%- if block.settings.image != blank -%}
              <img
                  class="posters__image"
                  srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | image_url: width: 275 }} 275w,{%- endif -%}
                          {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                          {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | image_url: width: 710 }} 710w,{%- endif -%}
                          {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | image_url: width: 1420 }} 1420w,{%- endif -%}
                          {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                  src="{{ block.settings.image | image_url: width: 550 }}"
                  sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                          (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                          calc(100vw - 30px)"
                  alt="{{ block.settings.image.alt }}"
                  height="{{ block.settings.image.height }}"
                  width="{{ block.settings.image.width }}"
                  loading="lazy"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
            {%- endif -%}
            {%- if block.settings.title != blank or block.settings.link != blank -%}
              <div class="posters__info">
                {%- if block.settings.title != blank -%}
                  <div class="posters__title" {%- if block.settings.color_title != blank -%}style="color: {{ block.settings.color_title }}"{% endif %}>
                    {{ block.settings.title | escape }}
                  </div>
                {%- endif -%}
                {%- if block.settings.link != blank and block.settings.button != blank -%}
                  <a href="{{ block.settings.link }}" class="posters__link" {%- if block.settings.color_button != blank -%}style="color: {{ block.settings.color_button }}"{% endif %}>
                    {{ block.settings.button | escape }}
                  </a>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endfor  -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.posters.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "poster",
      "name": "t:sections.posters.blocks.card.name",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.posters.blocks.card.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.posters.blocks.card.settings.title.label",
          "default": "Poster"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "t:sections.posters.blocks.card.settings.color_title.label",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "t:sections.posters.blocks.card.settings.button.header"
        },
        {
          "type": "text",
          "id": "button",
          "label": "t:sections.posters.blocks.card.settings.button.label",
          "default": "shop the scene"
        },
        {
          "type": "color",
          "id": "color_button",
          "label": "t:sections.posters.blocks.card.settings.color_button.label",
          "default": "#fff"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.posters.blocks.card.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.posters.presets.name",
      "blocks": [
        {
          "type": "poster"
        },
        {
          "type": "poster"
        }
      ]
    }
  ]
}
{% endschema %}
